{# app/Resources/views/annonces/ajout.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/annonces.css') }}">
{% endblock %}

{% block content %}

	{{ form_start(form) }}

		{{ form_errors(form) }}
		{{ form_row(form.nom) }}
		{{ form_row(form.description) }}
		{{ form_row(form.prix) }}
		{{ form_row(form.mail) }}
		{{ form_row(form.enregistrer) }}

	{{ form_end(form) }}

{% endblock %}