{# app/Resources/views/annonces/annonce.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/annonces.css') }}">
{% endblock %}

{% block content %}

	<h1>{{ annonce.nom }}</h1>
	<p>{{ annonce.description }}</p>
	<p>Prix : {{ annonce.prix | prix}}</p>
	<p>Mail : {{ annonce.mail}}</p>

{% endblock %}