{# app/Resources/views/annonces/annonces.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/annonces.css') }}">
{% endblock %}

{% block content %}

	<h1>Liste des annonces</h1>

	<ul>
		{% for annonce in annonces %}
			<li>
				<p>Identifiant : {{ annonce.id }}</p>
				<p>{{ annonce.nom }}</p>
				<p>{{ annonce.description }}</p>
				<p>Prix : {{ annonce.prix | prix}}</p>
				<p>Mail : {{ annonce.mail}}</p>
			</li>
		{% endfor %}

{% endblock %}