{# app/Resources/views/conditions/conditions.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}

	Voici les conditions à respecter :
	<ul>
		<li>L'objet à vendre doit être basé en France.</li>
		<li>Le vendeur doit être un particulier et non un professionnel.</li>
	</ul>

{% endblock %}