{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}PAG{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="">
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

            <div class="container">

                {% include 'menu.html.twig' %}

                {% block content %}
                {% endblock %}

                {% block footer %}
                <p>Copyright PAG - Tous droits réservés</p>
                {% endblock %}

            </div>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
