{% block nav %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Pag</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button> 
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item">
      				<a class="nav-link" href="{{ path('home') }}">Accueil</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" href="{{ path('conditions') }}">Conditions</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" href="{{ path('contact') }}">Contact</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" href="{{ path('annonces') }}">Annonces</a>
      			</li>
      			<li class="nav-item">
      				<a class="nav-link" href="{{ path('ajouter-annonce') }}">Ajouter une annonce</a>
      			</li>
			</ul>
		</div>
	</nav>
    
{% endblock %}