{# app/Resources/views/contact/contact.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/contact.css') }}">
{% endblock %}

{% block content %}

	<h1>Contact</h1>

	<form action="" method="post"> 
		<label for="identite">Identité :</label><br>
		<input id="identite" type="text" name="identite" placeholder="Identité"><br>
		<label for="message">Votre message :</label><br>
		<input id="message" type="textarea" name="message" placeholder="Message"><br>
		<input type="submit" value="Valider">
	</form>
	{% if confirmation is defined and confirmation == 1 %}
		<p>Message bien envoyé !</p>
	{% endif %}

{% endblock %}